<a href="https://colab.research.google.com/github/Lincoln-Alyson/Lincoln_atividades/blob/main/aula_03_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
dict={'country':['Brazil','Russia','India','China','South Africa'],
      'Capital':['Brasília','Moscou','New Delhi','Beijing','Pretoria'],
      'area':[8.516,17.1,3.286,9.597,1.221],
      'population':[200.4,143.5,1252,1357,52.98]}
brics=pd.DataFrame(dict)
brics

        country    Capital    area  population
0        Brazil   Brasília   8.516      200.40
1        Russia     Moscou  17.100      143.50
2         India  New Delhi   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [ ]:
brics.index=['BR','RS','IN','CH','SA']
brics

         country    Capital    area  population
BR        Brazil   Brasília   8.516      200.40
RS        Russia     Moscou  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [ ]:
Lincoln= pd.read_csv('/content/sample_data/california_housing_train.csv', index_col=0)
Lincoln

,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
longitude,,,,,,,,
-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...
-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
#atividade 1
import pandas as pd
names=['United states','Australia','Japan','India','Russia','Morocco','Egypt']
dr=[True,False,False,False,True,True,True]
cpc=[809,731,588,18,200,70,45]
my_dict={'country':names,'drives_right':dr,'cars_per_cap':cpc}
cars=pd.DataFrame(my_dict)
cars
cars.index=['US','AUS','JPN','IN','RU','MOR','EG']
cars

           country  drives_right  cars_per_cap
US   United states          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [ ]:
import pandas as pd
cars_1=pd.read_csv('/cars.csv')
cars_1

    Unnamed: 0  cars_per_cap        country  drives_right
0  0         US           809  United States     ...
1  1        AUS           731      Australia     ...
2  2        JPN           588          Japan     ...
3  3         IN            18          India     ...
4  4         RU           200         Russia     ...
5  5        MOR            70        Morocco     ...
6  6         EG            45          Egypt     ...

In [ ]:
import pandas as pd
dict={'country':['Brazil','Russia','India','China','South Africa'],
      'capital':['Brasília','Moscou','New Delhi','Beijing','Pretoria'],
      'area':[8.516,17.1,3.286,9.597,1.221],
      'population':[200.4,143.5,1252,1357,52.98]}
brics=pd.DataFrame(dict)
brics.index=['BR','RU','IN','CH','SA']
brics

         country    capital    area  population
BR        Brazil   Brasília   8.516      200.40
RU        Russia     Moscou  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [ ]:
type(brics['country'])

pandas.core.series.Series

In [ ]:
type(brics[['country']])

pandas.core.frame.DataFrame

In [ ]:
brics[['country','capital']]

         country    capital
BR        Brazil   Brasília
RU        Russia     Moscou
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

In [ ]:
brics[1:4]

   country    capital    area  population
RU  Russia     Moscou  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [ ]:
brics.loc["RU"]

country       Russia
capital       Moscou
area            17.1
population     143.5
Name: RU, dtype: object

In [ ]:
brics.loc[["RU"]]

   country capital  area  population
RU  Russia  Moscou  17.1       143.5

In [ ]:
brics.loc[:,['country','capital']]

         country    capital
BR        Brazil   Brasília
RU        Russia     Moscou
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

In [ ]:
brics.loc['RU']
#   ou
brics.iloc[1]

country       Russia
capital       Moscou
area            17.1
population     143.5
Name: RU, dtype: object

In [ ]:
brics.iloc[[1,2,3]]

   country    capital    area  population
RU  Russia     Moscou  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [ ]:
brics.iloc[[1,2,3],[0,1]]

   country    capital
RU  Russia     Moscou
IN   India  New Delhi
CH   China    Beijing

In [ ]:
brics.loc[['BR'],['capital']]

     capital
BR  Brasília