<a href="https://colab.research.google.com/github/Lincoln-Alyson/Lincoln_atividades/blob/main/aula_24_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
brics= pd.read_csv("brics.csv", index_col= 0)
brics["name_length"]= brics["country"].apply(len)
print(brics)

                 country    capital    area  population  name_length
country_ab
BR                Brazil   Brasilia   8.516      200.40            6
RU                Russia     Moscow  17.100      143.50            6
IN                 India  New Delhi   3.286     1252.00            5
CH                 China    Beijing   9.597     1357.00            5
SA          South Africa   Pretoria   1.221       52.98           12

In [ ]:
cars= pd.read_csv('/content/cars (2).csv', index_col= 0)
for colum in cars:
  print(colum)

cars_per_cap
country
drives_right

In [ ]:
for cals, row in cars.iterrows():
  print(cals + ": " + str(row["cars_per_cap"]))

US: 809
AUS: 731
JAP: 588
IN: 18
RU: 200
MOR: 70
EG: 45

In [ ]:
import pandas as pd
cars= pd.read_csv('/content/cars (2).csv', index_col= 0)
for lab, row in cars.iterrows():
  cars.loc[lab, "COUNTRY"] = row["country"].upper()
print(cars)

            cars_per_cap        country  drives_right        COUNTRY
country_ab
US                   809  United States          True  UNITED STATES
AUS                  731      Australia         False      AUSTRALIA
JAP                  588          Japan         False          JAPAN
IN                    18          India         False          INDIA
RU                   200         Russia          True         RUSSIA
MOR                   70        Morocco          True        MOROCCO
EG                    45          Egypt          True          EGYPT

In [ ]:
cars["COUNTRY"]= cars["country"].apply(str.upper)
print(cars)

            cars_per_cap        country  drives_right        COUNTRY
country_ab
US                   809  United States          True  UNITED STATES
AUS                  731      Australia         False      AUSTRALIA
JAP                  588          Japan         False          JAPAN
IN                    18          India         False          INDIA
RU                   200         Russia          True         RUSSIA
MOR                   70        Morocco          True        MOROCCO
EG                    45          Egypt          True          EGYPT

In [ ]:
import numpy as np
np.random.rand()

0.7290497073840416

In [ ]:
np.random.seed(123)
np.random.rand()

0.6964691855978616

In [ ]:
np.random.rand()

0.28613933495037946

In [ ]:
import numpy as np
np.random.rand(123)
coin= np.random.randint(0, 2)
print(coin)

0

In [ ]:
import numpy as np
coin= np.random.randint(0, 2)
print(coin)
if coin == 0:
  print("heads")
else:
  print("tails")

1
tails